@using IKEA.BILLDemo3.Dto_s.Employees
@model UpdatedEmployeeDto
@inject IDepartmentServices departmentService

@{
    ViewData["Title"] = "Edit";
    var Departments = new SelectList(departmentService.GetAllDepartments(), nameof(DepartmentDto.Id), nameof(DepartmentDto.Name));
}}

<h1>Edit</h1>

<div class="row justify-content-center align-content-center flex-column">
    <h1 class="col-6 my-4">Update  Employee:@Model.Name</h1>

    <form asp-action="Edit" method="post" class="col-6">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group col-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control mb-3" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control mb-3" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control mb-3" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control mb-3" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control mb-3" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control mb-3" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="EmployeeType"></label>
            <select asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()" class="form-control">
                <option value="">Choose...</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label asp-for="DepartmentId"></label>
            <select asp-for="DepartmentId" asp-items="@Departments" class="form-control">
                <option value="@null">Choose...</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label class="control-label mb-2">Gender</label> <br />
            @foreach (Gender genderOption in Enum.GetValues(typeof(Gender)))
            {
                <div>
                    <input type="radio" class="form-check-input" asp-for="Gender" value="@genderOption" />
                    <label class="form-check-label" for="Gender_@genderOption">@genderOption</label>
                </div>
            }
        </div>

        <div class="form-group col-12">
            <label asp-for="HiringDate"></label>
            <input asp-for="HiringDate" class="form-control mb-3" />
            <span asp-validation-for="HiringDate" class="text-danger"></span>
        </div>

        <div class="form-group col-12 my-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsActive" />
                <label class="form-check-label" asp-for="IsActive"></label>
            </div>
        </div>

        <div class="form-group col-6">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>
    </form>
</div>
@section validationScripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}
